/* import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');

/* universal styles*/
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared styles */
.highlight{
    background: linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s-letter{
    color:#FF42A5;
}

.light-g{
    color: #534C64;
}

.heading{
    font-size: 1.3rem;
}
.primary-btn{
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    border: none;

}

/* header starts here */
header{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position-x: -230px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 3px solid rgb(247, 247, 247);
    height: 70px;
    padding: 5px 120px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo h3{
    font-size: 2rem;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
    
    
}
.links li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    
}
.links a{
    text-decoration: none;
    color: #534C64;
    font-size: .9rem;
}
.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E6E9;
    border-radius: 8px;
    padding: 8px;
    margin-left: 20px;
}
.nav-button img{
    width: 30%;
    padding-left: 4px;
}
/* nav ends */
/* landing content starts */
.landing content{
    display: flex;
}
.text-landing h3{
    text-decoration: none;
    
}
.landing-txt{
    padding: 100px 120px;
    display: flex;
}
.landing-txt h2{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
}
.landing-txt h1{
    font-size: 3.7rem;
}
.list-landing{
    display: flex;
}
.list-landing li{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    font-size: .8rem;
    font-weight: 600;
}
.btn1{
    background-color: #FF42A5;
    margin-top: 20px;
    margin-right: 20px;
    
}
.btn2{
    background-color: #4EC5F7;
}
.container2 img{
    width: 60%;
    margin-left: 340px;
    margin-top: -50px;
}
/* landing ends */
/* we are gamer sec */
.online-games{
    background-color: #FFF9FC;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.heroes img{
    width: 100%;
}
.text-section{
    text-align: right;
}
.text-section h3{
    font-size: 2rem;
    padding-bottom: 20px;
}
.text-section p{
    width: 400px;
}
.text-section button{
    margin-right: 0px;
    margin-bottom: 20px;
}
.text-section h4{
    font-size: .9rem;
    margin-bottom: 10px;
}
/* online games section */
.o-g-r{
    margin: 100px 100px;
}
.text-con{
    text-align: center;
}
.text-con h1{
    font-size: 2rem;
    padding-bottom: 10px;
}
.text-con p{
    font-size: .8rem;
    padding-bottom: 50px;
}
.image-con{
    display: flex;
}
.image-con img{
   width:242px;
   height: 284px;
   margin-right: 20px;
    
}
.image-con img:hover{
    opacity: 60%;
    border: 3px solid #fd82ff;
    border-radius: 15px;
    
}
/* play instantly */
.play-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 0px 100px;
}
.text-c{
    text-align: right;
    margin-right: 300px;
    margin-bottom: -150px;
    
}
.text-c h1{
    font-size: 2.4rem;
    padding-bottom: 20px;
}
.text-c p{
    padding-left: 200px;
}
.image-c img{
    width: 30%;
    top: 1700px;
    right: 110px;
    position:absolute;
}
.image-c .kitty{
    width: 90%;
    position: relative;
    top: 240px;
    right: 260px;

    
}

/* same second layout */
.play-inn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}
.text-cc{
    text-align: left;
    margin-left: 350px;
    margin-top: 400px;
    
}
.text-cc h1{
    font-size: 2.4rem;
    padding-bottom: 20px;
}
.text-cc p{
    padding-right: 200px;
}
.image-cc img{
    width: 30%;
    top: 2200px;
    position:absolute;
}
.image-cc .kittyy{
    width: 100%;
    position: relative;
    top: 290px;
    left: 290px;
   

    
}
/* next section */
.career{
    display: flex;
    margin-top: 200px;
    background-color: #F948B2;
    height: 500px;
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}
.txt-carer{
    color:white;
    padding-left: 100px;
}
.txt-carer h1{
    font-size: 3rem;
    padding-bottom: 10px;
}
.txt-carer p{
    width: 500px;
    padding-bottom: 20px;
    font-size: 1rem;

}
.txt-carer button{
    text-align: left;
    color: #F948B2;
    font-weight: 600;
}
.carer-img img{
   height: 500px;
   padding-left: 30px;
}
.list{
    display: flex;
    gap: 120px;
}
.left ul li{
    list-style: none;
    margin-bottom: 5px;
    font-size: .9rem;
    padding-bottom: 10px;
    font-weight: 700;

}
.right ul li{
    list-style: none;
    text-align: right;
    margin-bottom: 5px;
    font-size: .9rem;
    padding-bottom: 10px;
    font-weight: 700;
}
/* mini sec */
.suggestion{
    background-color: #d1d1d145;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
}
.s-card{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 10px;
    height: 40px;
    padding: 5px;
    border-radius: 50px;
    gap: 10px;
}
/* hover */
.s-card:hover{
    border: #F948B2 1px solid;
    color: #F948B2;
    
}
.s-card img{
    height: 40px;
}
.s-card h3{
    font-size: .7rem;
}
/* footer */
footer{
    background-color: #0B0223;
    height: 400px;
    color: white;
    padding: 30px 100px;
}
.lol{
    margin-top: 70px;
    margin-bottom: 50px;
}
.some-l{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;

}
.some-l a{
    text-decoration: none;
    color: white;
}
.last{
    font-size: .8rem;
   
}
.some-ic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
   
}
.some-ic a{
    text-decoration: none;
}
.some-ic img{
    height: 30px;
}
.priv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}
.priv a{
    text-decoration: none;
}
.priv p{
    font-size: .8rem;
}
.copy{
    text-align: center;
    font-size: .8rem;
}


/* responsive mobile large */
@media screen and (max-width:576px) {
    header{
      background-image: none;
      
    }
    .nav {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        border-bottom: 3px solid rgb(247, 247, 247);
        flex-direction: column;
        margin-top: 40px;
        height: 200px;
    }
    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
        justify-content: center;

    }
    .links li{
      margin: 0;
      padding: 0;
    }
    .nav-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E7E6E9;
        width: 170px;
        border-radius: 8px;
        padding: 8px;
        
    }

    .landing-txt{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin: 20px 30px;
      
    }
    .container2 img {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;    
    }   

    .container{
        background-image: url(images/Group\ 14.png);
        background-size: contain;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .online-games{
        display: flex;
        flex-direction: column;
        margin-top: 550px;
        padding: 10px 20px;
        background-color: white;
        margin-bottom: 100px;
    }
    .text-section{
        text-align: center;
    }
    .o-g-r{
        margin: 10px 20px;
        align-items: center;
        justify-content: center;
    }
    .image-con {
        display: flex;
        flex-direction: column;
        margin: 10px 70px;
    }
    
    .text-con p {
        padding-bottom: 10px;
    }

    .card{
        margin-bottom: 30px;
    }
    .play-in{
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        margin-bottom: 300px;

    }
    .text-c{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .text-c h1{
        font-size: 2.5rem;
    }
    .text-c p{
        padding: 0 20px;
        font-size: .9rem;
    }
    .image-c img{
        position: absolute;
        top: 3500px;
        width: 70%;
        left: 90px;
    }
    .image-c .kitty {
        position: relative;
        width: 40%;
        left: -5px;
        top: 260px;
     }

     .play-inn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        margin: 20px 20px;
        padding: 0;
        margin-bottom: 300px;
     }

     .text-cc{
        text-align: center;
        margin: 0px 20px;

     }
     .text-cc P{
        margin: 10px 20px;
        padding: 0;
     }

     .image-cc img{
        position: absolute;
        top: 4250px;
        width: 60%;
     }
     .image-cc  .kittyy {
        position: relative;
        width: 40%;
        left: 180px;
        top: 200px;

     }
     .career{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px 20px;
        height: 800px;
        margin-bottom:0px;
     }
     .txt-carer{
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
     }
     
    .txt-carer h1{
        font-size: 2rem;
    }
    .txt-carer p{
        width: 400px;
        font-size: .9rem;
    }
    .list{
        gap: 27px;
    }
    .carer-img img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .suggestion{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    footer {
        background-color: #0B0223;
        height: 500px;
        color: white;
        padding: 30px 20px;
    }
    .some-l {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 50px;
    }
    .lol img{
        width: 10%;
    }
    .lol h2{
        font-size: 1rem;
    }
    .last{
        padding: 0 30px;
        font-size: .6rem;
    }
    .some-ic{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
        margin-left: 60px;
    }
    .some-ic img{
        height:20px;
    }
    .priv{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
    } 

    .priv p{
        font-size: .6rem;
        text-align: center;
    } 

    .copy{
        margin-top: 50px;
        font-size: .6rem;
    }
}
/* responsive tablet */
@media screen and (min-width:577px) and (max-width:992px) {

    header{
        background-image: none;
        
      }
      .nav {
          display: flex;
          justify-content: space-between;
          background-color: #FFFFFF;
          border-bottom: 3px solid rgb(247, 247, 247);
          flex-direction: column;
          margin-top: 40px;
          height: 200px;
      }
      .links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px 0;
          gap: 20px;
          justify-content: center;
  
      }
      .links li{
        margin: 0;
        padding: 0;
      }
      .nav-button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #E7E6E9;
          width: 170px;
          border-radius: 8px;
          padding: 8px;
          
      }
  
      .landing-txt{
          display: flex;
          flex-direction: column-reverse;
          padding: 0;
          align-items: center;
          justify-content: center;
          margin: 20px 30px;
        
      }
      .container2 img {
          width: 100%;
          margin: 0;
          margin-bottom: 20px;
          align-items: center;
          justify-content: center;    
      }   
  
      .container{
          background-image: url(images/Group\ 14.png);
          background-size: contain;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 200px;
          margin-top: 50px;
          margin-bottom: 50px;
      }
      .online-games{
          display: flex;
          flex-direction: column;
          margin-top: 1150px;
          padding: 10px 20px;
          background-color: white;
          margin-bottom: 100px;
      }
      .text-section{
          text-align: center;
      }
      .o-g-r{
          margin: 10px 20px;
          align-items: center;
          justify-content: center;
          margin-top: 200px;
      }
      .image-con {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          margin: 10px 110px;
      }
      
      .text-con p {
          padding-bottom: 10px;
      }
  
      .card{
          margin-bottom: 30px;
      }
      .play-in{
          display: flex;
          flex-direction: column;
          margin: 20px 20px;
          margin-bottom: 400px;
  
      }
      .text-c{
          margin: 0;
          padding: 0;
          text-align: center;
      }
      .text-c h1{
          font-size: 2.5rem;
      }
      .text-c p{
          padding: 0 20px;
          font-size: .9rem;
      }
      .image-c img{
          position: absolute;
          top: 3600px;
          width: 50%;
          left: 90px;
      }
      .image-c .kitty {
          position: relative;
          width: 50%;
          left: 160px;
          top: 320px;
       }
  
       .play-inn{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content:center ;
          margin: 20px 20px;
          padding: 0;
          margin-bottom: 400px;
       }
  
       .text-cc{
          text-align: center;
          margin: 0px 20px;
  
       }
       .text-cc P{
          margin: 10px 20px;
          padding: 0;
       }
  
       .image-cc img{
          position: absolute;
          top: 4350px;
          width: 60%;
          
       }
       .image-cc  .kittyy {
          position: relative;
          width: 50%;
          top: 340px;
          left: -70px;

  
       }
       .career{
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 20px 20px;
          height: 1000px;
          margin-bottom:0px;
          
       }
       .txt-carer{
          justify-content: center;
          align-items: center;
          padding: 40px 20px;
       }
       
      .txt-carer h1{
          font-size: 2rem;
      }
      .txt-carer p{
          width: 600px;
          font-size: .9rem;
      }
      .list{
          gap: 240px;
      }
      .carer-img img {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
      }
  
      .suggestion{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
      }
  
  
      footer {
          background-color: #0B0223;
          height: 500px;
          color: white;
          padding: 30px 160px;
      }
      .some-l {
          display: grid;
          grid-template-columns: repeat(6,1fr);
          align-items: center;
          justify-content: center;
          gap: 15px;
          margin-bottom: 50px;
      }
      .lol img{
          width: 10%;
      }
      .lol h2{
          font-size: 1rem;
      }
      .last{
          font-size: .6rem;
      }
      .some-ic{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap:20px;
          margin-left: 60px;
      }
      .some-ic img{
          height:20px;
      }
      .priv{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          gap: 20px;
          
      } 
  
      .priv p{
          font-size: .6rem;
        
      } 
  
      .copy{
          margin-top: 50px;
          font-size: .6rem;
      }
  }

